Repository codezonediitj/pydatastructs, pull requests merged in 2019-12, with the labels that each got.

#35 Renamed class `Node` to `TreeNode`
  pydatastructs/trees/__init__.py
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/space_partitioning_trees.py
  pydatastructs/trees/tests/test_binary_trees.py
  pydatastructs/utils/__init__.py
  pydatastructs/utils/misc_util.py
Labels: KWoC, trees

#45 Added reason for using Python
  README.md
Labels: KWoC, documentation

#46 Added Binary Heap
  AUTHORS
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/trees/__init__.py
  pydatastructs/trees/heaps.py
  pydatastructs/trees/tests/test_binary_trees.py
  pydatastructs/trees/tests/test_heaps.py
Labels: KWoC, heaps

#55 Added DoublyLinkedList
  AUTHORS
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/linked_lists.py
  pydatastructs/linear_data_structures/tests/test_linked_lists.py
  pydatastructs/utils/__init__.py
  pydatastructs/utils/misc_util.py
  pydatastructs/utils/raises_util.py
Labels: linear-data-structures

#54 Test Using 'Raises' are now asserted!
  pydatastructs/linear_data_structures/tests/test_arrays.py
  pydatastructs/miscellaneous_data_structures/tests/test_stack.py
  pydatastructs/trees/tests/test_binary_trees.py
  pydatastructs/trees/tests/test_space_partitioning_tree.py
Labels: testing

#58 Removed import from __future__
  AUTHORS
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/linear_data_structures/linked_lists.py
  pydatastructs/miscellaneous_data_structures/stack.py
  pydatastructs/trees/binary_trees.py
  pydatastructs/utils/misc_util.py
Labels: miscellaneous

#60 Added link for google groups
  README.md
Labels: miscellaneous

#61 Corrected email id of group
  README.md
Labels: miscellaneous

#66 #64 Use comparision by reference for bool type objects
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/miscellaneous_data_structures/stack.py
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/space_partitioning_trees.py
  pydatastructs/trees/tests/test_binary_trees.py
  pydatastructs/trees/tests/test_space_partitioning_tree.py
Labels: KWoC, miscellaneous

#72 Added tests for code quality
  pydatastructs/utils/tests/__init__.py
  pydatastructs/utils/tests/test_code_quality.py
Labels: code-quality

#75 Added setup file
  .gitignore
  README.md
  setup.py
Labels: code-quality, installation

#68 [WIP] Added Binomial Heap
  pydatastructs/miscellaneous_data_structures/__init__.py
  pydatastructs/miscellaneous_data_structures/binomial_trees.py
  pydatastructs/miscellaneous_data_structures/tests/test_binomial_trees.py
  pydatastructs/trees/__init__.py
  pydatastructs/trees/heaps.py
  pydatastructs/trees/tests/test_heaps.py
  pydatastructs/utils/__init__.py
  pydatastructs/utils/misc_util.py
Labels: heaps

#69 Using DynamicOneDimensionalArray in Arraystack
  pydatastructs/miscellaneous_data_structures/stack.py
  pydatastructs/miscellaneous_data_structures/tests/test_stack.py
  pydatastructs/trees/binary_trees.py
Labels: KWoC, miscellaneous_data_structures
