Repository codezonediitj/pydatastructs, pull requests merged in 2019-10, with the labels that each got.

#23 Added AVL Tree
  .gitignore
  pydatastructs/trees/__init__.py
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/tests/test_binary_trees.py
  pydatastructs/utils/misc_util.py
Labels: trees

#28 Added Dynamic Arrays
  .travis.yml
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/linear_data_structures/tests/test_arrays.py
Labels: linear-data-structures

#30 Added '__slots__' in classes #29
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/miscellaneous_data_structures/stack.py
  pydatastructs/trees/binary_trees.py
Labels: enhancement
