Repository codezonediitj/pydatastructs, pull requests merged in 2020-04, with the labels that each got.

#241 Parallel matrix multiplication algorithm added
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
Labels: algorithms, gssoc20, linear_data_structures.algorithms, medium

#249 `data` made optional in public API
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/heaps.py
  pydatastructs/trees/m_ary_trees.py
Labels: easy, gssoc20, heaps

#238 Fixed _left_rotate and _right_rotate
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/tests/test_binary_trees.py
Labels: bug, rgsoc20, trees

#157 Added implementation for Splay Trees.
  pydatastructs/trees/__init__.py
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/tests/test_binary_trees.py
Labels: hard, rgsoc20, trees

#243 Heapsort
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
Labels: algorithms, gssoc20, linear_data_structures.algorithms, medium

#253 DFS implemented (using the BFS API)
  pydatastructs/graphs/__init__.py
  pydatastructs/graphs/algorithms.py
  pydatastructs/graphs/tests/test_algorithms.py
Labels: algorithms, graphs.algorithms, gssoc20, medium

#259 Fixed issue with `insert` in `BinarySearchTree`
  pydatastructs/trees/binary_trees.py
Labels: bug, trees

#255 Quality tests for public API
  .coveragerc
  .travis.yml
  pydatastructs/graphs/adjacency_list.py
  pydatastructs/graphs/adjacency_matrix.py
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/linear_data_structures/linked_lists.py
  pydatastructs/linear_data_structures/tests/test_linked_lists.py
  pydatastructs/miscellaneous_data_structures/binomial_trees.py
  pydatastructs/miscellaneous_data_structures/disjoint_set.py
  pydatastructs/miscellaneous_data_structures/queue.py
  pydatastructs/miscellaneous_data_structures/stack.py
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/heaps.py
  pydatastructs/trees/m_ary_trees.py
  pydatastructs/trees/space_partitioning_trees.py
  pydatastructs/utils/misc_util.py
  pydatastructs/utils/tests/test_code_quality.py
Labels: code_quality, design

#262 Add links to wiki in README
  README.md
Labels: documentation

#235 Implemeted `Treaps` and `CartesianTree`
  pydatastructs/trees/__init__.py
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/tests/test_binary_trees.py
  pydatastructs/utils/__init__.py
  pydatastructs/utils/misc_util.py
  pydatastructs/utils/tests/test_code_quality.py
  pydatastructs/utils/tests/test_misc_util.py
Labels: hard, rgsoc20, trees

#265 Update AUTHORS
  AUTHORS
Labels: workflow

#266 Update README.md
  README.md
Labels: documentation
