Repository codezonediitj/pydatastructs, pull requests merged in 2020-01, with the labels that each got.

#78 Added some fixes and quality tests
  AUTHORS
  pydatastructs/miscellaneous_data_structures/stack.py
  pydatastructs/utils/tests/test_code_quality.py
Labels: code-quality, documentation

#80 Added Graphs
  pydatastructs/graphs/__init__.py
  pydatastructs/graphs/adjacency_list.py
  pydatastructs/graphs/graph.py
  pydatastructs/graphs/tests/__init__.py
  pydatastructs/graphs/tests/test_adjacency_list.py
  pydatastructs/utils/__init__.py
  pydatastructs/utils/misc_util.py
  pydatastructs/utils/tests/test_misc_util.py
Labels: graphs

#81 Add AdjacencyMatrix implementation for graphs
  pydatastructs/graphs/adjacency_matrix.py
  pydatastructs/graphs/graph.py
  pydatastructs/graphs/tests/test_adjacency_matrix.py
  pydatastructs/utils/misc_util.py
  pydatastructs/utils/tests/test_misc_util.py
Labels: graphs

#84 removed incorrect spacing with punctuation
  PULL_REQUEST_TEMPLATE.md
Labels: miscellaneous

#83 Fixed Incorrectness in Documentation
  pydatastructs/trees/space_partitioning_trees.py
Labels: documentation
