Repository codezonediitj/pydatastructs, pull requests merged in 2020-03, with the labels that each got.

#97 Added Testing information for Devs in README.md
  README.md
Labels: beginner, gssoc20

#95 [WIP] increased code coverage
  .coveragerc
  .gitignore
  coveragerc_travis
  pydatastructs/graphs/__init__.py
Labels: easy, gssoc20

#99 DoublyLinkedList Fixed and SinglyLinkedList Added
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/linked_lists.py
  pydatastructs/linear_data_structures/tests/test_linked_lists.py
Labels: gssoc20, linear-data-structures, medium

#122 improved README.md
  README.md
Labels: beginner, documentation, gssoc20

#115 Issue #49 circular linked list
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/linked_lists.py
  pydatastructs/linear_data_structures/tests/test_linked_lists.py
Labels: gssoc20, linear_data_structures, medium

#123 [WIP] Improved examples
  README.md
  pydatastructs/linear_data_structures/linked_lists.py
Labels: beginner, documentation, gssoc20

#88 Added LCA and tests
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/tests/test_binary_trees.py
Labels: trees

#125 pop_left and pop_right returns value
  .gitignore
  pydatastructs/linear_data_structures/linked_lists.py
  pydatastructs/linear_data_structures/tests/test_linked_lists.py
Labels: easy, gssoc20, linear_data_structures

#126 Added Serial BFS
  pydatastructs/__init__.py
  pydatastructs/graphs/__init__.py
  pydatastructs/graphs/algorithms.py
  pydatastructs/graphs/graph.py
  pydatastructs/graphs/tests/test_algorithms.py
  pydatastructs/utils/misc_util.py
Labels: graphs, medium

#127 LinkedListQueue Added
  pydatastructs/miscellaneous_data_structures/queue.py
  pydatastructs/miscellaneous_data_structures/tests/test_queue.py
Labels: gssoc20, medium, miscellaneous_data_structures

#130 Added parallel BFS
  pydatastructs/graphs/__init__.py
  pydatastructs/graphs/algorithms.py
  pydatastructs/graphs/tests/test_algorithms.py
Labels: algorithms, graphs, graphs.algorithms

#92 Added Fenwick Trees
  pydatastructs/trees/__init__.py
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/tests/test_binary_trees.py
Labels: hard, trees

#118 DHeap added
  pydatastructs/trees/__init__.py
  pydatastructs/trees/heaps.py
  pydatastructs/trees/tests/test_heaps.py
Labels: gssoc20, hard, heaps

#135 TreeNode check added for heap.py
  .gitignore
  pydatastructs/trees/heaps.py
  pydatastructs/trees/tests/test_heaps.py
Labels: easy, gssoc20, heaps

#141 Removed TODO from 3 files
  pydatastructs/graphs/algorithms.py
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/space_partitioning_trees.py
Labels: beginner, gssoc20

#144 Removed redundancy in Graph API
  pydatastructs/graphs/graph.py
  pydatastructs/utils/misc_util.py
Labels: easy, graphs

#152 Restructured queue.py and stack.py
  pydatastructs/miscellaneous_data_structures/queue.py
  pydatastructs/miscellaneous_data_structures/stack.py
  pydatastructs/miscellaneous_data_structures/tests/test_queue.py
  pydatastructs/miscellaneous_data_structures/tests/test_stack.py
Labels: gssoc20, medium, miscellaneous_data_structures

#163 Tests for queue and stack updated
  pydatastructs/miscellaneous_data_structures/stack.py
  pydatastructs/miscellaneous_data_structures/tests/test_queue.py
  pydatastructs/miscellaneous_data_structures/tests/test_stack.py
Labels: code_quality, gssoc20, medium

#143 Added Disjoint set data structure
  pydatastructs/miscellaneous_data_structures/__init__.py
  pydatastructs/miscellaneous_data_structures/disjoint_set.py
  pydatastructs/miscellaneous_data_structures/tests/test_disjoint_set.py
  pydatastructs/utils/__init__.py
  pydatastructs/utils/misc_util.py
Labels: medium, miscellaneous_data_structures

#168 Added sequential Kurskal Algorithm
  .travis.yml
  pydatastructs/graphs/__init__.py
  pydatastructs/graphs/adjacency_list.py
  pydatastructs/graphs/adjacency_matrix.py
  pydatastructs/graphs/algorithms.py
  pydatastructs/graphs/graph.py
  pydatastructs/graphs/tests/test_adjacency_list.py
  pydatastructs/graphs/tests/test_adjacency_matrix.py
  pydatastructs/graphs/tests/test_algorithms.py
Labels: algorithms, graphs.algorithms, medium

#165 Removed unnecessary aliasing of OneDimensionalArray #161
  pydatastructs/linear_data_structures/arrays.py
Labels: code_quality, easy, gssoc20

#169 Made quality tests more verbose
  pydatastructs/utils/tests/test_code_quality.py
Labels: code_quality, easy, testing

#140 Added implementation for M-ary tree
  pydatastructs/trees/__init__.py
  pydatastructs/trees/m_ary_trees.py
  pydatastructs/utils/__init__.py
  pydatastructs/utils/misc_util.py
Labels: medium, rgsoc20, trees

#172 LinkedListNode doc updated
  pydatastructs/utils/misc_util.py
Labels: beginner, documentation, gssoc20, linear_data_structures

#177 Added parallel merge sort
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/linear_data_structures/tests/test_algorithm.py
Labels: algorithms, linear_data_structures, linear_data_structures.algorithms, medium

#178 Rename file `test_algorithm.py`
  pydatastructs/linear_data_structures/tests/test_algorithms.py
Labels: miscellaneous

#184 Added parallel kruskal algorithm
  pydatastructs/graphs/__init__.py
  pydatastructs/graphs/algorithms.py
  pydatastructs/graphs/tests/test_algorithms.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/trees/binary_trees.py
Labels: algorithms, graphs.algorithms, linear_data_structures, linear_data_structures.algorithms

#189 SelfBalancingTree updated
  pydatastructs/trees/binary_trees.py
Labels: trees

#191 Modified LinkedList API
  pydatastructs/linear_data_structures/linked_lists.py
  pydatastructs/linear_data_structures/tests/test_linked_lists.py
  pydatastructs/miscellaneous_data_structures/stack.py
  pydatastructs/miscellaneous_data_structures/tests/test_queue.py
  pydatastructs/miscellaneous_data_structures/tests/test_stack.py
  pydatastructs/utils/misc_util.py
Labels: linear_data_structures

#196 Added naive implementation of priority queue
  pydatastructs/miscellaneous_data_structures/__init__.py
  pydatastructs/miscellaneous_data_structures/queue.py
  pydatastructs/miscellaneous_data_structures/tests/test_queue.py
Labels: miscellaneous_data_structures

#197 Changing all type() to _check_type()
  pydatastructs/linear_data_structures/arrays.py
Labels: code_quality, easy, enhancement

#199 Added note of caution in `minimum_spanning_tree(_parallel)`
  pydatastructs/graphs/algorithms.py
Labels: algorithms, beginner, graphs.algorithms, gssoc20

#205 Added more implementations of priority queue
  pydatastructs/miscellaneous_data_structures/queue.py
  pydatastructs/miscellaneous_data_structures/tests/test_queue.py
  pydatastructs/trees/heaps.py
  pydatastructs/trees/tests/test_heaps.py
Labels: heaps, medium, miscellaneous_data_structures

#210 Added sequential Prim's algorithm
  pydatastructs/graphs/algorithms.py
  pydatastructs/graphs/tests/test_algorithms.py
  pydatastructs/trees/heaps.py
  pydatastructs/trees/tests/test_heaps.py
Labels: algorithms, graphs, graphs.algorithms, heaps

#211 reversed method applied in DODA
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/linear_data_structures/tests/test_arrays.py
Labels: easy, linear_data_structures

#214 Updated gitignore for gh-pages
  .gitignore
Labels: documentation, miscellaneous

#216 Enhancement in sorting algorithms
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
  pydatastructs/utils/misc_util.py
Labels: algorithms, linear_data_structures, linear_data_structures.algorithms

#207 brick_sort implemented
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
Labels: algorithms, gssoc20, linear_data_structures, linear_data_structures.algorithms, medium

#208 Added str methods for ODA and DODA
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/linear_data_structures/tests/test_arrays.py
Labels: easy, gssoc20, linear_data_structures

#219 Added parallel Prim's algorithm
  pydatastructs/graphs/algorithms.py
  pydatastructs/graphs/tests/test_algorithms.py
  pydatastructs/miscellaneous_data_structures/queue.py
  pydatastructs/miscellaneous_data_structures/tests/test_queue.py
Labels: algorithms, graphs, graphs.algorithms, miscellaneous_data_structures

#220 Docs for Prim's algorithm updated
  pydatastructs/graphs/algorithms.py
Labels: algorithms, documentation, graphs, graphs.algorithms

#222 Added tests
  pydatastructs/trees/tests/test_m_ary_trees.py
  pydatastructs/utils/misc_util.py
  pydatastructs/utils/tests/test_misc_util.py
Labels: coverage, easy, gssoc20, testing

#223 Added abstract methods for LinkedList base class
  pydatastructs/linear_data_structures/linked_lists.py
Labels: easy, gssoc20, linear_data_structures

#225 Refactored graphs
  pydatastructs/graphs/adjacency_list.py
  pydatastructs/graphs/adjacency_matrix.py
  pydatastructs/graphs/tests/test_adjacency_matrix.py
  pydatastructs/utils/misc_util.py
  pydatastructs/utils/tests/test_misc_util.py
Labels: graphs

#227 Update README.md
  README.md
Labels: documentation

#228 Removed print statement
  pydatastructs/graphs/adjacency_matrix.py
Labels: code_quality

#233 Added Kosaraju's algorithm for SCC
  pydatastructs/graphs/__init__.py
  pydatastructs/graphs/algorithms.py
  pydatastructs/graphs/tests/test_algorithms.py
Labels: algorithms, graphs.algorithms

#221 Bricksort parallel implemented
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
Labels: algorithms, gssoc20, linear_data_structures.algorithms, medium

#237 Update readme.md to include links to data structure visualisation websites
  README.md
Labels: beginner, documentation

#218 heaps.py supports list, tuple and pydatastructs.Array
  pydatastructs/trees/heaps.py
  pydatastructs/trees/tests/test_heaps.py
Labels: easy, gssoc20, heaps
