Repository codezonediitj/pydatastructs, pull requests merged in 2021-10, with the labels that each got.

#424 Docs modification for better clarification
  README.md
  pydatastructs/graphs/adjacency_list.py
  pydatastructs/graphs/adjacency_matrix.py
  pydatastructs/graphs/graph.py
  pydatastructs/graphs/tests/test_adjacency_list.py
  pydatastructs/graphs/tests/test_adjacency_matrix.py
  pydatastructs/linear_data_structures/arrays.py
Labels: documentation, enhancement, linear_data_structures, graphs, hacktoberfest-accepted

#425 Made the API of ``RangeQueryStatic`` consistent
  pydatastructs/miscellaneous_data_structures/algorithms.py
  pydatastructs/miscellaneous_data_structures/sparse_table.py
  pydatastructs/miscellaneous_data_structures/tests/test_range_query_static.py
Labels: documentation, enhancement, design, hacktoberfest-accepted

#426 Added notebook for California road network
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/pydatastructs_sphinx_graphs.ipynb
  docs/source/tutorials.rst
Labels: documentation, graphs, graphs.algorithms, website, hacktoberfest-accepted

#428 Added salient features of PyDataStructs
  docs/source/index.rst
Labels: website
