Repository codezonediitj/pydatastructs, pull requests merged in 2021-12, with the labels that each got.

#452 Fix typo in docstring of `arrays.OneDimensionalArray`
  pydatastructs/linear_data_structures/arrays.py
Labels: documentation, linear_data_structures

#454 Included linear + binary search for 1D static arrays
  README.md
  docs/source/pydatastructs/linear_data_structures/algorithms.rst
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
  pydatastructs/utils/tests/test_code_quality.py
Labels: linear_data_structures, algorithms, linear_data_structures.algorithms

#459 Upload coverage only for python 3.8 on `ubuntu-latest`
  .github/workflows/ci.yml
Labels: workflow, testing

#462 Added Selection sort and Insertion sort algorithm
  docs/source/pydatastructs/linear_data_structures/algorithms.rst
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
  pydatastructs/utils/tests/test_code_quality.py
Labels: linear_data_structures, algorithms, linear_data_structures.algorithms

#460 Adjacency Matrix test coverage increased by adding test line
  pydatastructs/graphs/tests/test_adjacency_matrix.py
Labels: graphs, testing

#450 Adding C++ backend for `pydatastructs.linear_data_structures.arrays`
  .github/workflows/ci.yml
  .gitignore
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/_backend/__init__.py
  pydatastructs/linear_data_structures/_backend/cpp/__init__.py
  pydatastructs/linear_data_structures/_backend/cpp/arrays/Array.hpp
  pydatastructs/linear_data_structures/_backend/cpp/arrays/OneDimensionalArray.hpp
  pydatastructs/linear_data_structures/_backend/cpp/arrays/arrays.cpp
  pydatastructs/linear_data_structures/_extensions.py
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/linear_data_structures/tests/benchmarks/__init__.py
  pydatastructs/linear_data_structures/tests/benchmarks/test_arrays.py
  pydatastructs/linear_data_structures/tests/test_arrays.py
  pydatastructs/utils/_backend/cpp/utils.hpp
  pydatastructs/utils/misc_util.py
  pydatastructs/utils/tests/test_code_quality.py
  scripts/build/add_dummy_submodules.py
  scripts/build/delete_dummy_submodules.py
  scripts/build/develop.py
  scripts/build/dummy_submodules_data.py
  scripts/build/install.py
  setup.py
Labels: linear_data_structures, cpp

#470 Updated installation instructions
  README.md
  docs/source/index.rst
Labels: documentation

#471 Fixes in README
  README.md
Labels: documentation

#472 Adding C++ backend for `linear_data_structures.arrays.DynamicOneDimensionalArray`
  pydatastructs/linear_data_structures/_backend/cpp/arrays/DynamicArray.hpp
  pydatastructs/linear_data_structures/_backend/cpp/arrays/DynamicOneDimensionalArray.hpp
  pydatastructs/linear_data_structures/_backend/cpp/arrays/OneDimensionalArray.hpp
  pydatastructs/linear_data_structures/_backend/cpp/arrays/arrays.cpp
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/linear_data_structures/tests/benchmarks/test_arrays.py
  pydatastructs/linear_data_structures/tests/test_arrays.py
  pydatastructs/utils/_backend/cpp/utils.hpp
  pydatastructs/utils/tests/test_code_quality.py
  scripts/build/develop.py
  scripts/build/install.py
Labels: linear_data_structures, cpp

#473 Removed debugging changes
  pydatastructs/linear_data_structures/_backend/cpp/arrays/OneDimensionalArray.hpp
Labels: linear_data_structures, code_quality, cpp
