Repository codezonediitj/pydatastructs, pull requests merged in 2021-03, with the labels that each got.

#349 Syntax Warning Fixed
  pydatastructs/graphs/graph.py
Labels: GSSoC, bug, easy

#350 Update guidelines in readme
  README.md
Labels: workflow

#342 Added `make_root` in DSU
  pydatastructs/miscellaneous_data_structures/disjoint_set.py
  pydatastructs/miscellaneous_data_structures/tests/test_disjoint_set.py
Labels: enhancement, medium, miscellaneous_data_structures

#358 Add line number in errors for easy debugging
  pydatastructs/utils/tests/test_code_quality.py
Labels: enhancement, testing, workflow

#344 Added a function to check ordering in ODA and DODA
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
Labels: enhancement, gssoc21, linear_data_structures.algorithms, medium

#359 Added returns in is_ordered docs
  pydatastructs/linear_data_structures/algorithms.py
Labels: algorithms, documentation, linear_data_structures, linear_data_structures.algorithms

#351 upper_bound and lower_bound functions added
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
Labels: enhancement, gssoc21, level2, linear_data_structures.algorithms
