Repository codezonediitj/pydatastructs, pull requests merged in 2021-01, with the labels that each got.

#312 Added cocktail shaker sort
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
Labels: algorithms, linear_data_structures.algorithms

#313 Minor fix in cocktail_shaker_sort
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
Labels: algorithms, bug, linear_data_structures.algorithms

#314 Adding Quicksort
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
Labels: SWoC, algorithms, hard, linear_data_structures.algorithms

#315 Adding Longest Common Subsequence
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
Labels: SWoC, hard, linear_data_structures, linear_data_structures.algorithms

#316 potential code refactor, optimize code performance
  pydatastructs/graphs/adjacency_list.py
  pydatastructs/graphs/adjacency_matrix.py
  pydatastructs/graphs/algorithms.py
  pydatastructs/graphs/tests/test_algorithms.py
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/miscellaneous_data_structures/queue.py
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/heaps.py
  pydatastructs/trees/space_partitioning_trees.py
  pydatastructs/utils/misc_util.py
  pydatastructs/utils/tests/test_misc_util.py
Labels: code_quality, performance

#320 Fixed AdjacencyList.add_vertex
  pydatastructs/graphs/adjacency_list.py
Labels: bug, graphs

#321 Added Deque - Array
  pydatastructs/miscellaneous_data_structures/queue.py
  pydatastructs/miscellaneous_data_structures/tests/test_queue.py
Labels: SWoC, linear_data_structures, linear_data_structures.algorithms, medium
