Repository codezonediitj/pydatastructs, pull requests merged in 2021-11, with the labels that each got.

#429 CI: Migrate from Travis to GitHub Actions
  .github/workflows/ci.yml
  .travis.yml
Labels: workflow, testing

#430 Backport 0.0.1
  README.md
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/pydatastructs_sphinx_graphs.ipynb
  docs/source/tutorials.rst
  pydatastructs/__init__.py
  pydatastructs/graphs/adjacency_list.py
  pydatastructs/graphs/adjacency_matrix.py
  pydatastructs/graphs/graph.py
  pydatastructs/graphs/tests/test_adjacency_list.py
  pydatastructs/graphs/tests/test_adjacency_matrix.py
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/miscellaneous_data_structures/algorithms.py
  pydatastructs/miscellaneous_data_structures/sparse_table.py
  pydatastructs/miscellaneous_data_structures/tests/test_range_query_static.py
  setup.py
Labels: release

#435 Adding backend to pydatastructs APIs
  pydatastructs/__init__.py
  pydatastructs/graphs/adjacency_list.py
  pydatastructs/graphs/adjacency_matrix.py
  pydatastructs/graphs/algorithms.py
  pydatastructs/graphs/graph.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/arrays.py
  pydatastructs/linear_data_structures/linked_lists.py
  pydatastructs/miscellaneous_data_structures/algorithms.py
  pydatastructs/miscellaneous_data_structures/binomial_trees.py
  pydatastructs/miscellaneous_data_structures/disjoint_set.py
  pydatastructs/miscellaneous_data_structures/queue.py
  pydatastructs/miscellaneous_data_structures/sparse_table.py
  pydatastructs/miscellaneous_data_structures/stack.py
  pydatastructs/strings/algorithms.py
  pydatastructs/strings/trie.py
  pydatastructs/trees/binary_trees.py
  pydatastructs/trees/heaps.py
  pydatastructs/trees/m_ary_trees.py
  pydatastructs/trees/space_partitioning_trees.py
  pydatastructs/utils/__init__.py
  pydatastructs/utils/misc_util.py
  pydatastructs/utils/tests/test_code_quality.py
Labels: enhancement, utils

#437 Added Bubble Sort Algorithm
  AUTHORS
  pydatastructs/linear_data_structures/__init__.py
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/linear_data_structures/tests/test_algorithms.py
Labels: linear_data_structures, algorithms, linear_data_structures.algorithms

#441 Update badges in `README.md`
  .github/workflows/ci.yml
  README.md
Labels: workflow

#442 Added bubble sort to documentation website code.
  .github/workflows/ci.yml
  docs/source/authors.rst
  docs/source/pydatastructs/linear_data_structures/algorithms.rst
  pydatastructs/linear_data_structures/algorithms.py
  pydatastructs/utils/tests/test_code_quality.py
Labels: documentation, testing, algorithms, linear_data_structures.algorithms
